<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../vue.js"></script>

    <title>v-model</title>
  </head>
  <body>
    <div id="app">
      <input v-model="nome" />
      <textarea v-model="mensagem"></textarea>
      <p>{{ nome }}</p>
      <p>{{ mensagem }}</p>
      <input type="text" v-model.number="ano" />
      <textarea v-model.lazy="nome"></textarea>
      <p>{{ ano }}</p>
    </div>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          nome: "",
          mensagem: "",
          ano: 0,
        },
      });
    </script>
  </body>
</html>
